<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="tab-nav">
        <a
          role="button"
          (click)="show('articles')"
          [ngClass]="{ 'active': showVal == 'articles' }"
        >{{ 'common.articles' | translate }}</a>
        <a
          role="button"
          (click)="show('posts')"
          [ngClass]="{ 'active': showVal == 'posts' }"
        >{{ 'common.posts' | translate }}</a>
      </div>
    </div>
  </div>
</section>
<ae-all-articles *ngIf="showVal == 'articles'"></ae-all-articles>
<ae-all-posts *ngIf="showVal == 'posts'"></ae-all-posts>
