input {
	outline: none;
	border: none;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.register-link {
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.register-link a {
  color: #999999;
}

.container-login {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login {
  width: 390px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: rgb(211, 211, 211);
}

.focus-input::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  transition: all 0.4s;
}

.input:focus + .focus-input::after {
  top: -15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #fff;
  top: 0;
  left: -100%;
  transition: all 0.4s;
}

.login-form-btn {
  font-size: 15px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
  left: 0;
}

@media (max-width: 576px) {
  .wrap-login {
    padding: 77px 15px 33px 15px;
    width: 100%;
    background: rgb(0, 0, 0);
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

  section {
    padding: 0 0 15px 0;
  }

  .container-login {
    padding: 0;
  }
}
