<section>
  <div class="container-login">
    <div class="wrap-login">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="wrap-input">
          <input class="input" type="text" formControlName="username">
          <span
            class="focus-input"
            [attr.data-placeholder]="'account.login.username-input' | translate"
            *ngIf="form.get('username').value.length === 0"
          ></span>
        </div>
        <div class="wrap-input">
          <input class="input" type="password" formControlName="password">
          <span
            class="focus-input"
            [attr.data-placeholder]="'account.login.password-input' | translate"
            *ngIf="form.get('password').value.length === 0"
          ></span>
        </div>
        <div class="container-login-form-btn">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button type="submit" class="login-form-btn" [disabled]="form.invalid">
              {{ 'account.login.login' | translate }}
            </button>
          </div>
        </div>
        <div class="text-center pt-4 register-link">
          {{ 'account.login.register-invitation' | translate }}
          <a routerLink="/register">{{ 'account.login.register' | translate }}</a>
        </div>
        <div class="text-center pt-4 register-link">
          {{ 'account.login.reset-invitation' | translate }}
          <a routerLink="/reset/request">{{ 'account.login.reset' | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</section>
