<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <form class="search mb-4" (ngSubmit)="onSubmit()">
          <input
            type="text"
            name="query"
            placeholder="What are you looking for?"
            [(ngModel)]="query"
          >
        </form>
      </div>
    </div>
    <div class="row">
      <div class="tab-nav">
        <a
          [routerLink]="['/search']"
          [queryParams]="{ query: query }"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ match: ['/search'] }"
        >Posts</a>
        <a
          [routerLink]="['/search/articles']"
          [queryParams]="{ query: query }"
          [routerLinkActive]="'active'"
        >Articles</a>
        <a
          [routerLink]="['/search/profiles']"
          [queryParams]="{ query: query }"
          [routerLinkActive]="'active'"
        >Profiles</a>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>