<div class="col">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-container">
        <table class="table-users table">
          <tbody>
            <tr *ngFor="let u of users">
              <td width="10">
                <img class="pull-left rounded-circle" width="50" [src]="u.id | imageAppender:'profile':'avatar'" />  
              </td>
              <td>
                <a [routerLink]="['/u', u.login]">@{{ u.login }}</a>
                <br>
                {{ u.firstName }} {{ u.lastName }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="page"
    [pageSize]="postsPerPage"
    [maxSize]="5"
    (pageChange)="loadPage(page)"
  ></ngb-pagination>
</div>
