<nav class="navbar navbar-dark navbar-expand-md navbar-no-bg">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Artæum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!currentUser">
          <a class="nav-link scroll-link" routerLink="/login">{{ 'layouts.header.login' | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a class="nav-link scroll-link" routerLink="/register">{{ 'layouts.header.register' | translate }}</a>
        </li>
        <li class="nav-item dropdown dmenu" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            {{ 'layouts.header.account' | translate }}
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" [routerLink]="['/u', currentUser.login]">{{ 'layouts.header.my-profile' | translate }}</a>
            <a class="dropdown-item" routerLink="/author">{{ 'layouts.header.author' | translate }}</a>
            <a class="dropdown-item" routerLink="/settings">{{ 'layouts.header.setting' | translate }}</a>
            <a class="dropdown-item" (click)="logout()">{{ 'layouts.header.logout' | translate }}</a>
          </div>
        </li>
        <li class="nav-item">
          <a role="button" class="nav-link scroll-link" (click)="reverseIsShowSearch()">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="search" [ngClass]="isShowSearch ? 'open' : 'close'">
  <button class="close" (click)="reverseIsShowSearch()">
    <i class="fa fa-close"></i>
  </button>
  <form (ngSubmit)="search()">
    <input
      id="search-input"
      name="searchQuery"
      [placeholder]="'layouts.header.search' | translate"
      [(ngModel)]="searchQuery"
    />
  </form>
</div>
