.navbar-brand {
  width: 105px;
  border: 0;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

.navbar {
  background: #242629;
}

.navbar.navbar-no-bg {
  background: #242629;
}

.navbar-dark .navbar-nav {
  font-size: 15px;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Roboto", sans-serif;
  color: #B1B1B1;
  font-weight: 500;
  line-height: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-item:active {
  background: #000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 767px) {
  .navbar-dark .navbar-toggler:focus {
    outline: 0;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}

body {
  padding: 40px 0px;
}

#search {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: transparent;
  border: none;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

@media (max-width: 576px) {
  #search-input::placeholder {
    font-size: 24px;
  }
}
