<div class="text-center">
  <button class="btn btn-dark" (click)="_fileInput.click()">
    {{ 'shared.image-editor.load-image' | translate }}
  </button>
  <input #_fileInput type="file" (change)="cropping.selectInputEvent($event)" accept="image/*" hidden>
</div>
<div *ngIf="cropping.isLoaded" class="actions text-center">
  <button (click)="cropping.zoomIn()"><i class="fa fa-plus"></i></button>
  <button (click)="cropping.zoomOut()"><i class="fa fa-minus"></i></button>
  <button (click)="cropping.rotate(90)"><i class="fa fa-repeat"></i></button>
  <button (click)="cropping.rotate(-90)"><i class="fa fa-undo"></i></button>
  <button (click)="cropping.clean()"><i class="fa fa-trash"></i></button>
</div>
<ly-img-cropper
  [withClass]="classes.cropping"
  #cropping
  [config]="cropperConfig"
  (cropped)="onCropped($event)"
>
  <span>{{ 'shared.image-editor.drag-drop' | translate }}</span>
</ly-img-cropper>
<button type="button" class="btn btn-dark mt-1" *ngIf="cropping.isLoaded" (click)="cropping.crop()">
  {{ 'shared.image-editor.crop' | translate }}
</button>
