button {
  outline: none;
  background: none;
  border: none;
}

.btn-register {
  color: #fff;
  padding: 0;
}

.btn-register:hover {
  color: #ccc;
}

.wrapper {
  margin: 0 auto;
  max-width: 780px;
}

input {
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
}

.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input-register {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}

.card-register {
  background: #000;
  border-radius: 10px;
  width: 100%;
  display: table;
}

.card-heading {
  background: url("/assets/ae-widescreen.jpg") center center/cover no-repeat;
  border-radius: 10px 0 0 10px;
  display: table-cell;
  width: 50%;
}

.card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

option {
  font-size: 14px;
}

select, select:focus, select:visited {
  appearance: none;
  border: none;
  background-color: #000;
  width: 100%;
  padding: 0;
  color: rgb(169, 169, 161);
}

@media (max-width: 767px) {
  section {
    padding: 0 0 15px;
  }

  .card-register {
    display: block;
    border-radius: 0;
  }

  .card-heading {
    display: block;
    width: 100%;
    border-radius: 0;
    padding-top: 400px;
    background-position: center center;
  }

  .card-body {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}
