<section>
  <div class="wrapper">
    <div class="card-register">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title">Registration</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <input class="input-register" type="text" placeholder="Login" formControlName="login">
          </div>
          <div class="input-group">
            <input class="input-register" type="email" placeholder="Email" formControlName="email">
          </div>
          <div class="input-group">
            <input class="input-register" type="text" placeholder="First name" formControlName="firstName">
          </div>
          <div class="input-group">
            <input class="input-register" type="text" placeholder="Last name" formControlName="lastName">
          </div>
          <div class="input-group">
            <input class="input-register" type="password" placeholder="Password" formControlName="password">
          </div>
          <div class="input-group">
            <select class="form-control" formControlName="language">
              <option>Your language</option>
              <option value="en">English</option>
              <option value="ru">Russian</option>
            </select>
          </div>
          <div class="pt-3">
            <button class="btn btn-register" type="submit" [disabled]="form.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
