<section>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>{{ 'account.password-reset.finish.title' | translate }}</h1>
      <div class="alert alert-danger" *ngIf="keyMissing">
        <strong>{{ 'account.password-reset.finish.key-missing' | translate }}</strong>
      </div>
      <div class="alert alert-warning" *ngIf="!error && !keyMissing">
        {{ 'account.password-reset.finish.new-password' | translate }}
      </div>
      <div class="alert alert-danger" *ngIf="error">
        {{ 'account.password-reset.finish.error' | translate }}
      </div>
      <p class="alert alert-success" *ngIf="success">
        <span><strong>{{ 'account.password-reset.finish.success-1' | translate }}</strong>{{ 'account.password-reset.finish.success-2' | translate }}</span>
        <a class="alert-link" routerLink="/login">{{ 'account.password-reset.finish.success-3' | translate }}</a>.
      </p>
      <div *ngIf="!keyMissing">
        <form *ngIf="!isError" name="form" role="form" (ngSubmit)="submit()" #passwordForm="ngForm">
          <div class="form-group">
            <label class="form-control-label" for="password">{{ 'account.password-reset.finish.password-input' | translate }}</label>
            <input
              type="password" class="form-control"
              id="password" name="password"
              #password="ngModel"
              [placeholder]="'account.password-reset.finish.password-input' | translate"
              [(ngModel)]="resetAccount.password"
              minlength=4 maxlength=50 required
            >
            <div *ngIf="password.dirty && password.invalid">
              <small class="form-text text-danger" *ngIf="password.errors.required">
                {{ 'account.password-reset.finish.password-empty' | translate }}
              </small>
              <small class="form-text text-danger" *ngIf="password.errors.minlength">
                {{ 'account.password-reset.finish.password-min-length' | translate }}
              </small>
              <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                {{ 'account.password-reset.finish.password-max-length' | translate }}
              </small>
            </div>
          </div>
          <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-dark">{{ 'account.password-reset.finish.submit' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</section>
