<section>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>Password reset</h1>
      <div class="alert alert-danger" *ngIf="keyMissing">
        <strong>Missing password reset key</strong>
      </div>
      <div class="alert alert-warning" *ngIf="!error && !keyMissing">
        Сhoose a new password
      </div>
      <div class="alert alert-danger" *ngIf="error">
        Password can't be reset
      </div>
      <p class="alert alert-success" *ngIf="success">
        <span><strong>Password reset was successful.</strong> Let's </span>
        <a class="alert-link" routerLink="/login">login</a>.
      </p>
      <div *ngIf="!keyMissing">
        <form *ngIf="!isError" name="form" role="form" (ngSubmit)="submit()" #passwordForm="ngForm">
          <div class="form-group">
            <label class="form-control-label" for="password">New password</label>
            <input
              type="password" class="form-control"
              id="password" name="password"
              #password="ngModel"
              placeholder="Новый пароль"
              [(ngModel)]="resetAccount.password"
              minlength=4 maxlength=50 required
            >
            <div *ngIf="password.dirty && password.invalid">
              <small class="form-text text-danger" *ngIf="password.errors.required">
                Enter password
              </small>
              <small class="form-text text-danger" *ngIf="password.errors.minlength">
                Min 4 chars
              </small>
              <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                Min 50 chars
              </small>
            </div>
          </div>
          <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>
