<div class="col-md-10 mx-auto text-center mb-4">
  <a class="btn btn-dark" routerLink="/author/blogs">Create article</a>
</div>
<div class="col-md-10 mx-auto" *ngIf="blogPosts && blogPosts.length && user">
  <ae-article
    *ngFor="let p of blogPosts"
    [article]="p"
    [author]="user"
    [currentUser]="currentUser"
    [deleteFunction]="deletePost"
  ></ae-article>
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="page"
    [pageSize]="postsPerPage"
    [maxSize]="5"
    (pageChange)="loadPage(page)"
  ></ngb-pagination>
</div>
