<div class="col-md-10 mx-auto text-center mb-4">
  <a
    *ngIf="currentUser && user && currentUser.id === user.id"
    class="btn btn-dark"
    routerLink="/author/articles"
  >Create article</a>
</div>
<div class="col-md-10 mx-auto" *ngIf="articles && articles.length && user">
  <ae-article
    *ngFor="let a of articles"
    [article]="a"
    [author]="user"
    [currentUser]="currentUser"
    (aeOnDelete)="deleteArticle(a._id)"
  ></ae-article>
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="page"
    [pageSize]="postsPerPage"
    [maxSize]="5"
    (pageChange)="loadPage(page)"
  ></ngb-pagination>
</div>
