<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'author.categories.name' | translate }}</th>
      <th scope="col">{{ 'author.categories.created-date' | translate }}</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of categories; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ c.name }}</td>
      <td>{{ c.createdDate | dateConverter }}</td>
      <td>
        <button
          class="btn btn-outline-primary" 
          [swal]="{
            title: 'author.categories.update-modal.title' | translate,
            confirmButtonText: 'author.categories.update-modal.submit' | translate,
            canselButtonText: 'author.categories.update-modal.cancel' | translate,
            inputPlaceholder: 'author.categories.update-modal.category-name' | translate,
            input: 'text',
            showCancelButton: true,
            preConfirm: setUpdateCandidate()
          }"
          (confirm)="updateCategory($event)"
        >
          {{ 'author.categories.update' | translate }}
        </button>
      </td>
      <td>
        <button
          class="btn btn-outline-danger" 
          [swal]="{
            title: 'author.categories.delete-modal.title' | translate,
            text: 'author.categories.delete-modal.text' | translate,
            confirmButtonText: 'author.categories.delete-modal.submit' | translate,
            canselButtonText: 'author.categories.delete-modal.cancel' | translate,
            confirmButtonColor: '#d33',
            type: 'warning',
            preConfirm: setDeleteCandidate(c)
          }"
          (confirm)="deleteCategory()"
        >
          {{ 'author.categories.delete' | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button
  class="btn btn-dark" 
  [swal]="{
    title: 'author.categories.create-modal.title' | translate,
    confirmButtonText: 'author.categories.create-modal.submit' | translate,
    canselButtonText: 'author.categories.create-modal.cancel' | translate,
    inputPlaceholder: 'author.categories.create-modal.category-name' | translate,
    confirmButtonColor: '#343a40',
    input: 'text',
    showCancelButton: true
  }"
  (confirm)="createCategory($event)"
>
  {{ 'author.categories.create' | translate }}
</button>
