<section *ngIf="!articles.length" class="pt-4 mb-4">
  <ae-loader></ae-loader>
</section>

<section *ngIf="articles.length" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div *ngFor="let a of articles">
          <ae-article
            *ngIf="users[a.userId]"
            [article]="a"
            [author]="users[a.userId]"
            [currentUser]="currentUser"
          ></ae-article>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <button class="btn btn-dark" (click)="loadArticles()">
          {{ 'common.load-more' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
