<div class="row">
    <div class="col-md-12">
      <h4>{{ 'settings.change-background.title' | translate }}</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center mb-2">
        <button class="btn btn-dark">
          <label for="image">{{ 'common.load-image' | translate }}</label>
          <input
            type="file"
            accept="image/*"
            name="image"
            id="image"
            class="form-control-file"
            (change)="loadImg($event)"
          />
        </button>
      </div>
      <div class="row justify-content-center mb-2">
        <div class="card">
          <div class="card-img">
            <img class="w-100" *ngIf="image" [src]="image">
            <img class="w-100" *ngIf="!image && currentUser" [src]="currentUser.id | imageAppender:'profile':'background'" onError="this.src = '/assets/ae-widescreen.jpg'">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-dark" [disabled]="!image" (click)="save()">{{ 'settings.change-background.submit' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  