<div class="col">
  <ae-create-post
    *ngIf="user && currentUser && currentUser.id === user.id"
    [currentUser]="currentUser"
    (updateWall)="loadAll()"
  ></ae-create-post>
  <div *ngIf="!posts && !user" class="pt-4 mb-4">
    <ae-loader></ae-loader>
  </div>
  <div *ngIf="posts && posts.length && user">
    <ae-post
      *ngFor="let p of posts"
      [post]="p"
      [author]="user"
      [currentUser]="currentUser"
      (aeOnDelete)="deletePost(p.id)"
    ></ae-post>
    <ngb-pagination
      *ngIf="postsPerPage < totalItems"
      [collectionSize]="totalItems"
      [(page)]="page"
      [pageSize]="postsPerPage"
      [maxSize]="5"
      (pageChange)="loadPage(page)"
    ></ngb-pagination>
  </div>
  <div class="alert alert-dark font-weight-bold" role="alert" *ngIf="posts && posts.length === 0">
    {{ 'profile.wall.no-posts' | translate }}
  </div>
</div>
