<div class="col">
  <ae-create-post
    *ngIf="user && currentUser && currentUser.id === user.id"
    [currentUser]="currentUser"
    (updateWall)="loadAll()"
  ></ae-create-post>
  <div *ngIf="posts && posts.length && user">
    <ae-post
    *ngFor="let p of posts"
    [post]="p"
    [author]="user"
    [currentUser]="currentUser"
    [modal]="true"
    (aeOnDelete)="deletePost(p.id)"
  ></ae-post>
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="page"
    [pageSize]="postsPerPage"
    [maxSize]="5"
    (pageChange)="loadPage(page)"
  ></ngb-pagination>
  </div>
</div>
