<div class="col-md-12 mx-auto" *ngIf="subscribers">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Subscribers</h3>
    </div>
    <div class="panel-body">
      <div class="table-container">
        <table class="table-users table">
          <tbody>
            <tr *ngFor="let s of subscribers; let i = index">
              <td width="10">
                <img class="pull-left rounded-circle" width="50" src="https://pp.userapi.com/c840728/v840728979/6ad8/HiE9Tede5GE.jpg" />  
              </td>
              <td>
                <a [routerLink]="['/u', s.login]">@{{ s.login }}</a>
                <br>
                {{ s.firstName }} {{ s.lastName }}
              </td>
              <td>
                Subscribed on {{ subscriptions[i].createdDate | dateConverter }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>