<section *ngIf="!posts.length" class="pt-0 mb-4">
  <ae-loader></ae-loader>
</section>

<section *ngIf="posts.length" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div *ngFor="let p of posts">
          <ae-post
            *ngIf="users[p.userId]"
            [post]="p"
            [author]="users[p.userId]"
            [currentUser]="currentUser"
            (aeOnDelete)="deletePost(p.id)"
          ></ae-post>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <button class="btn btn-dark" (click)="loadPosts()">{{ 'common.load-more' | translate }}</button>
      </div>
    </div>
  </div>
</section>