<div class="card mb-4">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <quill-editor
          name="text"
          [style]="{ height: '100px', fontSize: '16px' }"
          [required]="true"
          [modules]="{ toolbar: false }"
          [placeholder]="'profile.wall.create-post.text-input-placeholder' | translate"
          formControlName="text"
        ></quill-editor>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-dark" [disabled]="form.invalid">
          {{ 'profile.wall.create-post.submit' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
