<section>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>{{ 'account.activation.title' | translate }}</h1>
      <div class="alert alert-success" *ngIf="!isError">
        <span><strong>{{ 'account.activation.success-1' | translate }}</strong></span>
        <a class="alert-link" routerLink="/login">{{ 'account.activation.success-2' | translate }}</a>.
      </div>
      <div class="alert alert-danger" *ngIf="isError">
        <strong>{{ 'account.activation.error-1' | translate }}</strong> {{ 'account.activation.error-2' | translate }}
      </div>
    </div>
  </div>
</section>
