<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-2">
        <div class="list-group">
          <a
            class="list-group-item list-group-item-action"
            routerLink="/author"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >{{ 'author.dashboard-nav'| translate }}</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/author/articles"
            [routerLinkActive]="['active']"
          >{{ 'author.create-all-articles-nav'| translate }}</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/author/article"
            [routerLinkActive]="['active']"
          >{{ 'author.create-article-nav'| translate }}</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/author/categories"
            [routerLinkActive]="['active']"
          >{{ 'author.categories-nav'| translate }}</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
