.profile-page {
  padding-top: 0;
}

.name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.name h6 {
  padding-right: 8px;
  font-size: .95rem !important;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  line-height: 1.5em;
  text-transform: lowercase;
}

.name a {
  font-size: .95rem !important;
}

.profile-page .page-header {
  height: 380px;
  background-position: center;
}

.page-header {
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}

.main {
  background: #FFF;
  position: relative;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.rounded-circle {
  border-radius: 50% !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
  min-height: 32px;
  color: #3C4858;
  font-weight: 700;
}

.tab-nav {
  margin-top: 5px;
}

.profile-page .profile-tabs {
  margin-top: 4.284rem;
}

.profile-page .profile .name {
  margin-top: -80px;
}
