.profile-nav a {
  transition: all 0.25s ease-in-out;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px 25px;
  margin-right: 5px;
  color: #585757;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
}

.profile-nav a:hover,
.profile-nav a.active {
  border: 1px solid #4b4a4a;
  border-radius: 25px;
  color: #4b4a4a;
}

.profile-nav {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.profile-nav a:focus {
  outline: none;
}

@media only screen and (max-width: 580px) {
  .profile-nav a {
    padding: 4px 12px;
  }
}

.profile-page {
  padding-top: 0;
}

h6 {
  font-size: .80rem !important;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  line-height: 1.5em;
  text-transform: lowercase;
}

.name h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-page .page-header {
  height: 380px;
  background-position: center;
}

.page-header {
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}

.main {
  background: #FFF;
  position: relative;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.rounded-circle {
  border-radius: 50% !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  color: #3C4858;
  font-weight: 700;
}

.profile-page .profile-tabs {
  margin-top: 4.284rem;
}

.profile-page .profile .name {
  margin-top: -80px;
}

.btn {
  padding: 12px 30px;
  font-size: .75rem;
  font-weight: 400;
  text-transform: uppercase;
}
