<section class="profile-page" *ngIf="user">
  <div
    class="page-header"
    [ngStyle]="{'background-image': 'url(' + (user.id | imageAppender:'profile':'background') + '), url(/assets/ae-widescreen.jpg)'}"
  ></div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <img
              [src]="user.id | imageAppender:'profile':'avatar'"
              onError="this.src = '/assets/ae.jpg'"
              [alt]="user.login"
              class="img-raised rounded-circle img-fluid"
            >
            <div class="name pb-4">
              <h3
                class="title"
                *ngIf="user.firstName && user.lastName"
              >{{ user.firstName }} {{ user.lastName }}</h3>
              <h6>@{{ user.login }}</h6>
            </div>
            <div class="pb-2" *ngIf="currentUser && currentUser.id !== user.id">
              <button class="btn btn-dark" *ngIf="!subscription">Subscribe</button>
              <button class="btn btn-dark" *ngIf="subscription">Unsubscribe</button>
            </div>
            <a class="text-dark" [routerLink]="['/u', user.login, 'subscribers']">
              <i class="fa fa-users pb-4" title="Subscribers"> Subscribers</i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab-nav">
          <a
            [routerLink]="['/u', user.login]"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >Wall</a>
          <a
            [routerLink]="['/u', user.login, 'blog']"
            [routerLinkActive]="'active'"
          >Blog</a>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
