#footer {
  color: #586069;
  font-size: 12px;
}

#footer-logo {
  font-family: 'Merriweather', serif;
  color: #c6cbd1;
  font-size: 30px;
  text-decoration: none;
  line-height: 15px;
}

#footer-logo:hover {
  color: #959da5;
}

footer a {
  text-decoration: none;
  color: #586069;
}

footer a:hover {
  color: #959da5;
}

.dropdown-menu {
  background-color: inherit;
  border: none;
}

.dropdown-item:hover {
  background-color: inherit;
  cursor: pointer;
}
