<div class="row">
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fa fa-users"></i>
      <span class="count-numbers">{{ subsCount }}</span>
      <span class="count-name">{{ 'author.dashboard.subscribers' | translate }}</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter primary">
      <i class="fa fa-file"></i>
      <span class="count-numbers">{{ articlesCount }}</span>
      <span class="count-name">{{ 'author.dashboard.articles' | translate }}</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter success">
      <i class="fa fa-podcast"></i>
      <span class="count-numbers">{{ postsCount }}</span>
      <span class="count-name">{{ 'author.dashboard.posts' | translate }}</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter danger">
      <i class="fa fa-heart"></i>
      <span class="count-numbers">{{ likesCount }}</span>
      <span class="count-name">{{ 'author.dashboard.likes' | translate }}</span>
    </div>
  </div>
</div>