<div class="row">
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fa fa-users"></i>
      <span class="count-numbers">{{ subsCount }}</span>
      <span class="count-name">Subscribers</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter primary">
      <i class="fa fa-file"></i>
      <span class="count-numbers">{{ articlesCount }}</span>
      <span class="count-name">Articles</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter success">
      <i class="fa fa-podcast"></i>
      <span class="count-numbers">{{ postsCount }}</span>
      <span class="count-name">Posts</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter danger">
      <i class="fa fa-heart"></i>
      <span class="count-numbers">{{ likesCount }}</span>
      <span class="count-name">Likes</span>
    </div>
  </div>
</div>