<section *ngIf="!article && !author" class="mt-5 mb-0">
  <ae-loader></ae-loader>
</section>

<section *ngIf="article && author">
  <header class="masthead" [ngStyle]="{'background-image': 'url(' + (article._id | imageAppender:'blog':'article') + '), url(/assets/ae-widescreen.jpg)'}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <span class="meta">{{ 'article.single-article.meta-1' | translate }}
              <a [routerLink]="['/u', author.login]">@{{ author.login }}</a>
              {{ 'article.single-article.meta-2' | translate }} {{ article.createdDate | dateConverter:true }}
              <span *ngIf="category">
                {{ 'article.single-article.meta-3' | translate }}
                <a [routerLink]="['/u', author.login, 'blog', category.name]">{{ category.name }}</a>
              </span>
              <span *ngIf="currentUser && currentUser.id === author.id">
                |
                <a role="button" [routerLink]="['/author/article', article._id]">
                  <i class="fa fa-pencil" title="Edit"></i>
                </a> |
                <a
                  role="button"
                  [swal]="{
                    title: 'article.single-article.delete-modal.title' | translate,
                    text: 'article.single-article.delete-modal.text' | translate,
                    confirmButtonText: 'article.single-article.delete-modal.remove' | translate,
                    canselButtonText: 'article.single-article.delete-modal.cancel' | translate,
                    confirmButtonColor: '#d33',
                    type: 'warning'
                  }"
                  (confirm)="deleteArticle()"
                >
                  <i class="fa fa-remove" title="Remove"></i>
                </a>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content" [innerHTML]="articleBody"></div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline">
            <li class="list-inline-item">
              <ae-like [resourceType]="'article'" [resourceId]="article._id"></ae-like>
            </li>
            <li class="list-inline-item">
              <ae-comment-button [resourceType]="'article'" [resourceId]="article._id"></ae-comment-button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>{{ 'article.single-article.comments' | translate }}</h4>
        <ae-comment [resourceType]="'article'" [resourceId]="article._id"></ae-comment>
      </div>
    </div>
  </div>
</section>
