<section *ngIf="article && author">
  <header class="masthead" [ngStyle]="{'background-image': 'url(' + (article._id | imageAppender:'blog':'article') + '), url(/assets/ae-widescreen.jpg)'}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <span class="meta">Posted by
              <a [routerLink]="['/u', author.login]">@{{ author.login }}</a>
              on {{ article.createdDate | dateConverter:true }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" [innerHTML]="article.body"></div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline">
            <li class="list-inline-item">
              <ae-like [resourceType]="'article'" [resourceId]="article._id"></ae-like>
            </li>
            <li class="list-inline-item">
              <ae-comment-button [resourceType]="'article'" [resourceId]="article._id"></ae-comment-button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>Comments</h4>
        <ae-comment [resourceType]="'article'" [resourceId]="article._id"></ae-comment>
      </div>
    </div>
  </div>
</section>
