.login-link {
  text-decoration: none;
  color: #161010;
}

.login-link:hover {
  color: #2e3d50;
}

.h7 {
  font-size: 0.8rem;
}

.card {
  max-width: none;
  margin-bottom: 30px;
}

.post-button {
  text-decoration: none;
  color: #586069;
}

.post-button:hover {
  color: #959da5;
}

.post-wrapper {
  margin-top: 0.97rem;
}

.dropdown-toggle::after {
  content: none;
  display: none;
}

.post-link:hover {
  cursor: pointer;
}

.dropdown button {
  color: #586069;
  padding: 0;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 500px;
  }
}
