<div class="card post-card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" [src]="post.userId | imageAppender:'profile':'avatar'" onError="this.src = '/assets/ae.jpg'" [alt]="post.id">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">
            <a class="login-link" [routerLink]="['/u', author.login]">@{{ author.login }}</a>
          </div>
          <div
            class="h7 text-muted"
            *ngIf="author.firstName && author.lastName"
          >{{ author.firstName }} {{ author.lastName }} | {{ post.createdDate | dateConverter:true }}</div>
        </div>
      </div>
      <div class="dropdown" *ngIf="currentUser && currentUser.id === author.id">
        <button class="btn btn-link dropdown-toggle" type="button" [id]="'post' + post.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" [attr.aria-labelledby]="'post' + post.id">
          <a
            role="button"
            class="dropdown-item"
            [swal]="{
              title: 'shared.post.delete-modal.title' | translate,
              text: 'shared.post.delete-modal.text' | translate,
              confirmButtonText: 'shared.post.delete-modal.remove' | translate,
              canselButtonText: 'shared.post.delete-modal.cancel' | translate,
              confirmButtonColor: '#d33',
              type: 'warning'
            }"
            (confirm)="delete()"
          >
            {{ 'shared.post.remove-btn' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text" [innerHTML]="post.text"></p>
  </div>
  <div class="card-footer">
    <span class="card-link">
      <ae-like [resourceType]="'post'" [resourceId]="post.id"></ae-like>
    </span>
    <span class="card-link">
      <ae-comment-button [resourceType]="'post'" [resourceId]="post.id"></ae-comment-button>
    </span>
    <span class="card-link post-button">
      <a [routerLink]="['/posts', post.id]">
        <i class="fa fa-link"></i>
      </a>
    </span>
  </div>
</div>
