<section>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Password reset</h1>
      <div class="alert alert-danger" *ngIf="error">
        <strong>Bad credentials</strong>
      </div>
      <div class="alert alert-success" *ngIf="success">
        <strong>Check your email</strong>
      </div>
      <form name="form" role="form" (ngSubmit)="submit()" #resetForm="ngForm">
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email" class="form-control"
            id="email" name="email" placeholder="Email"
            [(ngModel)]="resetAccount.email"
            minlength=5 maxlength=100
            #email="ngModel" email required
          >
          <div *ngIf="email.dirty && email.invalid">
            <small class="form-text text-danger" *ngIf="email.errors.required">
              Enter Email
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.email">
              Bad Email
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.minlength">
              Min 6 chars
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.maxlength">
              Max 100 chars
            </small>
          </div>
        </div>
        <button type="submit" [disabled]="resetForm.form.invalid" class="btn btn-dark">Reset</button>
      </form>
    </div>
  </div>
</section>
