<section>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>{{ 'account.password-reset.init.title' | translate }}</h1>
      <div class="alert alert-danger" *ngIf="error">
        <strong>{{ 'account.password-reset.init.error' | translate }}</strong>
      </div>
      <div class="alert alert-success" *ngIf="success">
        <strong>{{ 'account.password-reset.init.success' | translate }}</strong>
      </div>
      <form name="form" role="form" (ngSubmit)="submit()" #resetForm="ngForm">
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email" class="form-control"
            id="email" name="email" placeholder="Email"
            [(ngModel)]="resetAccount.email"
            minlength=5 maxlength=100
            #email="ngModel" email required
          >
          <div *ngIf="email.dirty && email.invalid">
            <small class="form-text text-danger" *ngIf="email.errors.required">
              {{ 'account.password-reset.init.email-empty' | translate }}
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.email">
              {{ 'account.password-reset.init.email-bad' | translate }}
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.minlength">
              {{ 'account.password-reset.init.email-min-length' | translate }}
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.maxlength">
              {{ 'account.password-reset.init.email-max-length' | translate }}
            </small>
          </div>
        </div>
        <button type="submit" [disabled]="resetForm.form.invalid" class="btn btn-dark">{{ 'account.password-reset.init.submit' | translate }}</button>
      </form>
    </div>
  </div>
</section>
