.post a h2 {
  font-size: 26px;
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

.post a {
  text-decoration: none;
  transition: all .2s;
  color: #3C4858;
}

.post a:hover {
  color: #000;
  cursor: pointer;
}

.post p {
  font-size: 18px;
  font-family: 'Times New Roman', serif;
  margin-top: 0;
  color: #868e96;
  line-height: 1.5;
  margin: 0 0 5px;
}
