<div class="post">
  <a [routerLink]="['/articles', article._id]">
    <h2>{{ article.title }}</h2>
  </a>
  <p>{{ 'shared.article.meta-1' | translate }}
    <a [routerLink]="['/u', author.login]">@{{ author.login }}</a>
    {{ 'shared.article.meta-2' | translate }} {{ article.createdDate | dateConverter }}
    <span *ngIf="category">
        {{ 'shared.article.meta-3' | translate }}
        <a [routerLink]="['/u', author.login, 'blog', category.name]">{{ category.name }}</a>
    </span>
    <span *ngIf="currentUser && currentUser.id === author.id">
      |
      <a [routerLink]="['/author/article', article._id]">
        <i class="fa fa-pencil" title="Edit"></i>
      </a>
    </span>
  </p>
  <img class="w-100" [src]="article._id | imageAppender:'blog':'article'" onError="this.src = '/assets/ae-widescreen.jpg'" [alt]="article.title">
  <hr>
</div>
