<div class="comments" *ngIf="comments">
  <div class="action-box">
    <ul class="comment-list">
      <li *ngFor="let c of comments">
        <div class="comment-image">
          <img [src]="c.userId | imageAppender:'profile':'avatar'" onError="this.src = '/assets/ae.jpg'" />
        </div>
        <div class="comment-text">
          <a
            *ngIf="getUser(c.userId)"
            [routerLink]="['/u', getUser(c.userId).login]"
          >{{ getUser(c.userId).firstName }} {{ getUser(c.userId).lastName }}</a>
          <div [innerHTML]="c.text"></div>
          <span class="date sub-text">{{ c.createdDate | dateConverter:true }}</span>
        </div>
      </li>
    </ul>
    <form class="form-inline" [formGroup]="form" (ngSubmit)="createComment()" *ngIf="currentUser">
      <div class="form-group">
        <quill-editor
          name="text"
          [style]="{ fontSize: '16px', border: 0 }"
          [required]="true"
          [modules]="{ toolbar: false }"
          [placeholder]="'shared.comment.text-input-placeholder' | translate"
          formControlName="text"
        ></quill-editor>
      </div>
      <div class="form-group">
        <button class="btn btn-link">{{ 'shared.comment.submit' | translate }}</button>
      </div>
    </form>
  </div>      
</div>
