<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a
            class="list-group-item list-group-item-action"
            routerLink="/settings"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >{{ 'settings.common-settings-nav' | translate }}</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/settings/change-password"
            [routerLinkActive]="['active']"
          >{{ 'settings.change-password-nav' | translate }}</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/settings/change-avatar"
            [routerLinkActive]="['active']"
          >{{ 'settings.change-avatar-nav' | translate }}</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/settings/change-background"
            [routerLinkActive]="['active']"
          >{{ 'settings.change-background-nav' | translate }}</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
