<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group ">
          <a
            class="list-group-item list-group-item-action"
            routerLink="/settings"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >Common settings</a>
          <a
            class="list-group-item list-group-item-action"
            routerLink="/settings/change-password"
            [routerLinkActive]="['active']"
          >Change password</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
