<nav class="menu" *ngIf="currentUser">
  <input
    type="checkbox" id="menu-open" class="menu-open"
    [checked]="isOpen" (change)="reverseIsOpen()"
  />
  <label class="menu-open-button" for="menu-open">æ</label>
  <a class="menu-item" [routerLink]="['/u', currentUser.login]" (click)="reverseIsOpen()">
    <i class="fa fa-user" title="My profile"></i>
  </a>
  <a class="menu-item" routerLink="/timeline" (click)="reverseIsOpen()">
    <i class="fa fa-rss" title="Subscriptions"></i>
  </a>
  <a
    class="menu-item"
    *ngFor="let e of extraElements"
    [routerLink]="e.link"
    (click)="reverseIsOpen()"
  >
    <i [class]="e.className" [title]="e.title"></i>
  </a>
</nav>
