<form *ngIf="article" role="form" novalidate (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <input class="form-control" type="text" name="title" placeholder="Title" required [(ngModel)]="article.title" />
  </div>
  <div class="form-group">
    <button class="btn btn-dark">
      <label for="image">Load image</label>
      <input
        type="file"
        accept="image/*"
        name="image"
        id="image"
        class="form-control-file"
        (change)="loadImg($event)"
      />
    </button>
    <div  class="card">
      <div class="card-img">
        <img class="w-100" *ngIf="!article._id && article.image" [src]="article.image">
        <img class="w-100" *ngIf="!article.image && article._id" [src]="imageUrl + article._id + '-article.jpg'">
      </div>
    </div>
  </div>
  <div class="form-group">
    <quill-editor
      name="body"
      [required]="true"
      [style]="{
        'font-size': '20px',
        'font-family': 'Lora, \'Times New Roman\', serif',
        'line-height': '1.5'
      }"
      [modules]="toolbar"
      [placeholder]="'Let\'s write it!'"
      [(ngModel)]="article.body"
    ></quill-editor>
  </div>
  <button type="submit" [disabled]="form.form.invalid && (!article.image || !article._id)" class="btn btn-dark">
    <span class="fa fa-save"></span>&nbsp;<span>Save</span>
  </button>
</form>
