<div *ngIf="!article" class="mb-4">
  <ae-loader></ae-loader>
</div>
<form *ngIf="article" role="form" novalidate #form="ngForm">
  <div class="form-group">
    <input class="form-control" type="text" name="title" [placeholder]="'author.create-update-article.title-input' | translate" required [(ngModel)]="article.title" />
  </div>
  <div class="form-group">
    <div class="w-100 ml-auto mr-auto mb-1">
      <ae-image-editor
        [width]="320"
        [height]="180"
        [resultWidth]="1280"
        [resultHeight]="720"
        (aeOnResult)="setImage($event)"
      ></ae-image-editor>
    </div>
    <div class="card">
      <div class="card-img">
        <img class="w-100" *ngIf="article.image" [src]="article.image">
        <img class="w-100" *ngIf="!article.image && article._id" [src]="article._id | imageAppender:'blog':'article'" onError="this.src = '/assets/ae-widescreen.jpg'">
      </div>
    </div>
  </div>
  <div class="form-group">
    <quill-editor
      name="body"
      [required]="true"
      [style]="{
        'font-size': '20px',
        'font-family': 'Lora, \'Times New Roman\', serif',
        'line-height': '1.5'
      }"
      [modules]="toolbar"
      [placeholder]="'author.create-update-article.body-input-placeholder' | translate"
      [(ngModel)]="article.body"
    ></quill-editor>
  </div>
  <div class="input-group mb-3" *ngIf="categories">
    <div class="input-group-prepend">
      <label class="input-group-text" for="category">
        {{ 'author.create-update-article.category' | translate }}
      </label>
    </div>
    <select class="custom-select" id="category" name="category" [(ngModel)]="article.category">
      <option></option>
      <option
        *ngFor="let c of categories"
        [selected]="article._id && article.category === c._id"
        [value]="c._id"
      >
        {{ c.name }}
      </option>
    </select>
  </div>
  <button
    type="submit"
    (click)="onSave()"
    [disabled]="form.invalid && (!article.image || !article._id)"
    class="btn btn-dark mr-1"
  >
    <span class="fa fa-save"></span>&nbsp;
    <span>{{ 'author.create-update-article.save' | translate }}</span>
  </button>
</form>
