<div class="row">
  <div class="col-md-12">
    <h4>{{ 'settings.change-avatar.title' | translate }}</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row mb-3">
      <div class="w-100 ml-auto mr-auto pl-3 pr-3">
        <ae-image-editor
          [width]="240"
          [height]="240"
          [resultWidth]="300"
          [resultHeight]="300"
          (aeOnResult)="setImage($event)"
        ></ae-image-editor>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="card ml-3 mr-3">
        <div class="card-img">
          <div class="w-100 ml-auto mr-auto">
            <img class="w-100" *ngIf="image" [src]="image">
            <img class="w-100" *ngIf="!image && currentUser" [src]="currentUser.id | imageAppender:'profile':'avatar'" onError="this.src = '/assets/ae.jpg'">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-dark" [disabled]="!image" (click)="save()">{{ 'settings.change-avatar.submit' | translate }}</button>
      </div>
    </div>
  </div>
</div>
