<div class="row">
  <div class="col-md-12">
    <h4>{{ 'settings.change-avatar.title' | translate }}</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row justify-content-center mb-3">
      <div class="card">
        <div class="card-img">
          <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
          <div class="w-50 ml-auto mr-auto">
            <img class="w-100" *ngIf="data.image" [src]="data.image">
            <img class="w-100" *ngIf="!data.image && currentUser" [src]="currentUser.id | imageAppender:'profile':'avatar'" onError="this.src = '/assets/ae.jpg'">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-dark" [disabled]="!data.image" (click)="save()">{{ 'settings.change-avatar.submit' | translate }}</button>
      </div>
    </div>
  </div>
</div>
