<div class="row">
  <div class="col-md-12">
    <h4>{{ 'settings.change-common.title' | translate }}</h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="login" class="col-4 col-form-label">
          {{ 'settings.change-common.login' | translate }}
        </label>
        <div class="col-8">
          <input id="login" class="form-control here" type="text"
            [placeholder]="'settings.change-common.login' | translate" formControlName="login">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-4 col-form-label">Email</label>
        <div class="col-8">
          <input id="email" class="form-control here" type="text"
            placeholder="Email" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="firstName" class="col-4 col-form-label">
          {{ 'settings.change-common.first-name' | translate }}
        </label>
        <div class="col-8">
          <input id="firstName" class="form-control here" type="text"
            [placeholder]="'settings.change-common.first-name' | translate" formControlName="firstName">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-4 col-form-label">
          {{ 'settings.change-common.last-name' | translate }}
        </label>
        <div class="col-8">
          <input id="lastName" class="form-control here" type="text"
            [placeholder]="'settings.change-common.last-name' | translate" formControlName="lastName">
        </div>
      </div>
      <div class="form-group row">
        <label for="language" class="col-4 col-form-label">
          {{ 'settings.change-common.language' | translate }}
        </label>
        <div class="col-8">
          <select id="language" class="custom-select" formControlName="langKey">
            <option value="en">{{ 'settings.change-common.language-english' | translate }}</option>
            <option value="ru">{{ 'settings.change-common.language-russian' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-4 col-8">
          <button type="submit" class="btn btn-dark" [disabled]="form.invalid">{{ 'settings.change-common.submit' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>